<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container">

    <div class="section-title">
      <h2 style="color: rgb(87, 56, 143);text-shadow: 6px 4px 2px #9797b4;">About Us</h2>
      <p>
        World is witnessing the coming water crises and its shortage.
        whether it is human, animals, or plants, everyone is completely depending on fresh and potable water.
        How will our planet manage to nourish us all?
        The answer is simple, and it lies in our hands.
        Water Saviours team took the initiative to save water.
        We are initially focusing on the development of prototype to query geolocations of sustainable water sources.
      </p>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p>
          We provide call for code challenge solution to help individual worldwide by
          providing needed information based on their geolocation. This time we focus on
          <span style="color: rgb(87, 56, 143);text-shadow: 2px 2px 2px #9797b4;">WATER</span>.
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> We developed a prototype which provides water sources in nearby areas
          </li>
          <li><i class="ri-check-double-line"></i> Type of water resources and their location</li>
          <li><i class="ri-check-double-line"></i> Use map to show the resources</li>
          <li><i class="ri-check-double-line"></i> Send this information to your mobile </li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p>
          <span style="color: rgb(87, 56, 143);text-shadow: 2px 2px 2px #9797b4;">Water Saviours</span>
          are located in Bangalore (India) and developed the call for code
          challenge using latest technology such as Angular
          ({{ver}}) as front-end and Node JS as back-end.
          We deployed our solution on IBM cloud to make it globally available.
        </p>
      </div>
    </div>
  </div>
</section><!-- End About Us Section -->