<!-- ======= Our Work Section ======= -->
<section id="ourwork" class="about">
  <div class="container">

    <div class="section-title">
      <h2 style="color: rgb(87, 56, 143);text-shadow: 6px 4px 2px #9797b4;">Our Work</h2>
      <p>Our work is to develop the code solution to modify the google map based on the backend application data.
        We use a real time back-end data which contains water resources information.
        This data can be replaced with the actual real time data provided by real time water resource
        data API provider. We developed the back-end code which supplies data to front end.
        Front end makes necessary changes and displays the sample data on the google Map.
        Front end locates the user on google map based on geolocation and provides the water resource location.
        Nearby <a routerLink="/map">Water Resources</a> information can be sent to user mobile for reference.</p>
    </div>

    <div class="row content">
      <div class="col-lg-6">
        <p style="color: rgb(87, 56, 143);text-shadow: 2px 2px 2px #9797b4;">Front-End Features</p>
        <ul>
          <li><i class="ri-check-double-line"></i> Developed using Angular.</li>
          <li><i class="ri-check-double-line"></i> Locates user on google map.</li>
          <li><i class="ri-check-double-line"></i> Modify the google map based on the data provided by back end.</li>
          <li><i class="ri-check-double-line"></i> Suitable for mobile devices.</li>
          <li><i class="ri-check-double-line"></i> Progressive web app.</li>
          <li><i class="ri-check-double-line"></i> Deployed on IBM cloud as cloud foundry application.</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0">
        <p style="color: rgb(87, 56, 143);text-shadow: 2px 2px 2px #9797b4;">Back-End Features</p>
        <ul>
          <li><i class="ri-check-double-line"></i> Developed using NodeJS.</li>
          <li><i class="ri-check-double-line"></i> Supplies real time water resource data to Front-end.</li>
          <li><i class="ri-check-double-line"></i> Perform send mobile message functionality.</li>
          <li><i class="ri-check-double-line"></i> Deployed on IBM cloud as cloud foundry application.</li>
        </ul>
      </div>
    </div>

  </div>
</section><!-- End Our Work Section -->