<!-- ======= Team Section ======= -->
<section id="pricing" class="pricing">
  <div class="container">

    <div class="section-title">
      <h2 style="color: rgb(87, 56, 143);text-shadow: 6px 4px 2px #9797b4;">Team</h2>
      <p style="color: rgb(87, 56, 143);text-shadow: 2px 2px 2px #9797b4;">Water Saviours</p>
    </div>

    <div align="center" style="background-color: rgb(243, 243, 243);padding: 4px;;">

      <div style="width:400px;">
        <div class="box" style="background-color: rgb(255, 255, 255);">
          <h4>Vaibhav Rangare</h4>
          <ul style="height:100px;background-color: rgb(245, 245, 245);border-radius: 5px;">
            <li>
              Developed the solution for Call For Code 2021.<br>
              Deploy it as IBM Cloud Foundry Application.
            </li>
            <li style="height:20px;">Front-End & Back-End</li>
          </ul>
          <a class="btn-buy">Developer</a>
          <div class="social-links">
            <a href="https://twitter.com/Vaibhav_R999" target="_blank" class="twitter"><i
                class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/VaibhavRangare999" target="_blank" class="facebook"><i
                class="bx bxl-facebook"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Team Section -->