<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8">
        <h2 style="color: white;text-shadow: 4px 4px 4px #000000;">Call For Code 2021</h2>
        <h3 style="color: white;text-shadow: 6px 6px 8px #000000;">Geolocations of Sustainable Water Sources</h3>

        <a href="https://www.youtube.com/watch?v=6p_yaNFSYao" class="venobox play-btn mb-4" data-vbtype="video"
          data-autoplay="true"></a>
      </div>
    </div>
  </div>

</section>
<!-- End Hero Section -->